body,
html {
  height: 100%;
  width: 100%; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5em;
  position: relative;
  padding-bottom: 0.5em; }
  h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: gray;
    position: absolute;
    bottom: 0px;
    left: 0px; }

.alinear-derecha {
  text-align: right; }
  .alinear-derecha *:last-child {
    margin-right: 0px; }
  @media only screen and (min-width: 1px) and (max-width: 991px) {
    .alinear-derecha--nosm {
      text-align: left; }
      .alinear-derecha--nosm *:first-child {
        margin-left: 0px; } }

.input-group {
  margin-bottom: 30px;
  font-weight: bold; }

label {
  display: block;
  margin-bottom: 7px; }

input:not([type='file']),
textarea,
select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  display: block;
  border: 1px solid #666;
  padding: 5px 10px; }

[type='file'] {
  width: 100%;
  display: block; }
  [type='file'] + [type='file'] {
    margin-top: 20px; }

.input-galeria {
  width: 100%; }

.boton {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0px solid transparent;
  color: #333;
  display: inline-block;
  background-color: #ccc;
  padding: 0.7em 1.5em 0.6em;
  margin: 10px; }
  .boton:hover {
    background-color: #aaa;
    color: #333;
    text-decoration: none; }
  .boton-wide {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }
  .boton-important {
    background-color: #037;
    color: white; }
    .boton-important:hover {
      background-color: #014;
      color: white; }

.aviso {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 20px 20px 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  animation-name: fadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes fadeout {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    cursor: none;
    pointer-events: none; } }
.tarjeta-producto {
  position: relative;
  width: 100%;
  height: 100%; }
  .tarjeta-producto .eliminar {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    padding-top: 2px; }
    .tarjeta-producto .eliminar:hover {
      text-decoration: none; }
  .tarjeta-producto .link-producto {
    padding: 10px 10px 20px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    position: relative;
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 40px; }
    .tarjeta-producto .link-producto .imagen {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding: 60% 0; }
    .tarjeta-producto .link-producto h2,
    .tarjeta-producto .link-producto span {
      z-index: 1;
      margin-bottom: 0px; }
    .tarjeta-producto .link-producto span {
      color: #666; }
    .tarjeta-producto .link-producto h2 {
      margin-top: 20px;
      font-weight: bold; }
    .tarjeta-producto .link-producto:hover {
      text-decoration: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.cabecera-productos {
  margin-bottom: 50px; }

/*# sourceMappingURL=admin.css.map */
