@import "mixin.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,900');


$texto: #000;
$blanco: white;
$gris1: #111;
$gris2: #333338;
$gris3: #555;
$gris4: #666;
$gris5: #999;
$gris6: #CCC;
$gris7: #eee;
$verde: #94BF47;
$morado: #4C4C7E;
$naranja: #F07B22;

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
}



main {
  padding: 60px 0px;
}

.alinear-derecha {
  display: block;
  width: 100%;
  text-align: right;

  *:last-child {
    margin-right: 0px;
  }

  &--nosm {
    @include upto_sm {
      text-align: left;

      *:first-child {
        margin-left: 0px;
      }
    }
  }
}

.input-group {
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  &--flex {
    display: flex;
    align-items: center;

    input,
    button {
      height: 45px;
    }
  }
}

label {
  display: block;
  margin-bottom: 7px;
}

input:not([type='file']):not([type=radio]):not([type=checkbox]),
textarea,
select {
  @include borde-redondo(3px);
  width: 100%;
  display: block;
  border: 1px solid #666;
  padding: 5px 10px;
  background-color: white;
  font-size: 18px;
  line-height: 1.5;

  &:hover,
  &:focus {
    border-color: $verde;
  }
}

[type='file'] {
  width: 100%;
  display: block;

  &+[type='file'] {
    margin-top: 20px;
  }
}

.input-galeria {
  width: 100%;
}


.aviso {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 20px 20px 10px;
  text-align: center;
  @include borde-redondo(3px);
  animation-name: fadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    cursor: none;
    pointer-events: none;
  }
}


.tarjeta {
  position: relative;
  width: 100%;
  height: 100%;

  .eliminar {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    @include borde-redondo(50%);
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    padding-top: 2px;

    &:hover {
      text-decoration: none;
    }
  }
}

.tarjeta-producto {
  position: relative;
  width: 100%;
  height: 100%;

  .link-producto {
    padding: 10px 10px 20px;
    background-color: #f7f7f9;
    @include borde-redondo(3px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    position: relative;
    color: #333;
    @include transicion();
    margin-bottom: 40px;

    .imagen {
      @include bgimage();
      width: 100%;
      padding: 60% 0;
      @include borde-redondo(5px);
    }

    h2,
    span {
      z-index: 1;
      margin-bottom: 0px;
    }

    span {
      color: #666;
    }

    h2 {
      margin-top: 20px;
      font-weight: bold;
    }

    &:hover {
      background-color: white;
      text-decoration: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.cabecera-productos {
  margin-bottom: 50px;
}

.tarjeta-usuario {
  position: relative;
  width: 100%;
  height: 100%;

  .link-usuario {
    padding: 20px 10px;
    background-color: white;
    @include borde-redondo(3px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    position: relative;
    color: #333;
    @include transicion();
    margin-bottom: 40px;
    text-align: center;

    h2 {
      margin-top: 20px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      color: #666;
    }

    .imagen {
      background-color: #999;
      display: inline-block;
      @include bgimage();
      width: 50%;
      padding: 25% 0;
      @include borde-redondo(50%);
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  }
}


.tarjeta-slide {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.link-slide {
  @include bgimage();
  display: block;
  position: relative;
  background-color: #666;
  width: 100%;
  padding: 25% 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  @include transicion();
  @include borde-redondo(5px);

  .contenido {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 15px;
    color: white;
    width: 100%;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
    }

    p {}
  }



  &:hover {
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}

.productos-recientes {
  margin-top: 30px;
}