@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,900");
body,
html {
  height: 100%;
  width: 100%; }

body {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: "Raleway"; }

main {
  padding: 60px 0px; }

.alinear-derecha {
  display: block;
  width: 100%;
  text-align: right; }
  .alinear-derecha *:last-child {
    margin-right: 0px; }
  @media only screen and (min-width: 1px) and (max-width: 991px) {
    .alinear-derecha--nosm {
      text-align: left; }
      .alinear-derecha--nosm *:first-child {
        margin-left: 0px; } }

.input-group {
  margin-bottom: 30px;
  font-weight: bold;
  position: relative; }
  .input-group img {
    width: 100%;
    height: auto; }

label {
  display: block;
  margin-bottom: 7px; }

input:not([type='file']):not([type=radio]):not([type=checkbox]),
textarea,
select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  display: block;
  border: 1px solid #666;
  padding: 5px 10px;
  background-color: white; }

[type='file'] {
  width: 100%;
  display: block; }
  [type='file'] + [type='file'] {
    margin-top: 20px; }

.input-galeria {
  width: 100%; }

.aviso {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 20px 20px 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  animation-name: fadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes fadeout {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    cursor: none;
    pointer-events: none; } }
.tarjeta {
  position: relative;
  width: 100%;
  height: 100%; }
  .tarjeta .eliminar {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    padding-top: 2px; }
    .tarjeta .eliminar:hover {
      text-decoration: none; }

.tarjeta-producto {
  position: relative;
  width: 100%;
  height: 100%; }
  .tarjeta-producto .link-producto {
    padding: 10px 10px 20px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    position: relative;
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 40px; }
    .tarjeta-producto .link-producto .imagen {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding: 60% 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .tarjeta-producto .link-producto h2,
    .tarjeta-producto .link-producto span {
      z-index: 1;
      margin-bottom: 0px; }
    .tarjeta-producto .link-producto span {
      color: #666; }
    .tarjeta-producto .link-producto h2 {
      margin-top: 20px;
      font-weight: bold; }
    .tarjeta-producto .link-producto:hover {
      text-decoration: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.cabecera-productos {
  margin-bottom: 50px; }

.tarjeta-usuario {
  position: relative;
  width: 100%;
  height: 100%; }
  .tarjeta-usuario .link-usuario {
    padding: 20px 10px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    position: relative;
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 40px;
    text-align: center; }
    .tarjeta-usuario .link-usuario h2 {
      margin-top: 20px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 18px; }
    .tarjeta-usuario .link-usuario p {
      font-size: 14px;
      color: #666; }
    .tarjeta-usuario .link-usuario .imagen {
      background-color: #999;
      display: inline-block;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      padding: 25% 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .tarjeta-usuario .link-usuario:hover {
      text-decoration: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.tarjeta-slide {
  width: 100%;
  position: relative;
  margin-bottom: 30px; }

.link-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  background-color: #666;
  width: 100%;
  padding: 25% 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .link-slide .contenido {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 15px;
    color: white;
    width: 100%; }
    .link-slide .contenido h2 {
      font-weight: bold;
      text-transform: uppercase; }
  .link-slide:hover {
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=admin.css.map */
