@import "mixin.scss";

$texto: #000;
$blanco: white;
$fondo: #999;

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $texto;
  &:hover {
    text-decoration: none;
    color: unset;
  }
}

.header-principal {
  position: relative;
  display: block;
  height: 60px;
  background-color: $fondo;
}

.nav-principal {
  position: relative;
  display: flex;
}

.logo, .menu-movil {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}