@import "mixin.scss";
@import "admin.scss";

$texto: #000;
$blanco: white;
$fondo: #999;

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $texto;
  &:hover {
    text-decoration: none;
    color: unset;
  }
}

.header-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 60px;
  background-color: $fondo;
}

.nav-principal {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo, .menu-movil {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: $blanco;
}

.menu__link {
  color: $blanco;
}

.contenedor-principal {
  position: relative;
  display: flex;
  justify-content: space-between;
}
