.gallery {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery__slides {
  width: 100%;
  padding: 60% 0%;
  display: block;
  overflow: hidden;
}

.slides {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  animation-duration: 1s;
  animation-timing-function: ease;

  &.darken-slide:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-color: black;
    opacity: 0.15;
    z-index: -1;
  }

  &.active {
    z-index: 2;
  }

  &.previous-in {
    animation-name: gallery-slide__previous-in;
    z-index: 3;
  }

  &.previous-out {
    z-index: 1;
    animation-name: gallery-slide__previous-out;
  }

  &.next-in {
    animation-name: gallery-slide__next-in;
    z-index: 3;
  }

  &.next-out {
    z-index: 1;
    animation-name: gallery-slide__next-out;
  }

  .content {
    max-width: 400px;
    text-align: center;
    width: calc(100% - 100px);
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h3 {
      color: white;
      font-size: 25px;
    }
  }
}

@keyframes gallery-slide__previous-in {
  from {
    transform: translate(-100%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes gallery-slide__previous-out {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(100%, 0%);
  }
}

@keyframes gallery-slide__next-in {
  from {
    transform: translate(100%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes gallery-slide__next-out {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(-100%, 0%);
  }
}

.gallery__next-btn,
.gallery__previous-btn {
  @include reset-appearance();
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 40px;
  background-position: center center;
  background-size: 20px auto;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 5;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    @include transicion(0.1s);
    background-color: rgba(0, 0, 0, 0.4);
  }

  @include transicion(0.3s);

  @include solo_xs {
    display: none;
  }

  @include solo_sm {
    display: none;
  }


}

.gallery__previous-btn {
  background-image: url("../img/chevron_left.svg");
  left: 0px;
}

.gallery__next-btn {
  background-image: url("../img/chevron_right.svg");
  right: 0px;
}

.gallery-nav-container {
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 10;
}


.gallery__indicators {
  display: none;

  @include solo_xs {
    display: block;
  }

  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  white-space: nowrap;

  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.7;
    margin: 4px;
    margin-right: 7px;
    position: relative;
    @include transicion();
    @include borde-redondo(50%);
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      transform: scale(0.8);
      @include transicion(0.3s);
      @include borde-redondo(50%);
      border: 1px solid white;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;

      &:after {
        transform: scale(2);
        opacity: 1;
      }
    }
  }
}